{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>AFRICAN UTILITY SUPPLIERS CC - Products and Services</title>
    <meta name="description" content="Please enter your slogan here!">
    <meta name="keywords" content="Manufacturing">
    <meta content="AFRICAN UTILITY SUPPLIERS CC - Products and Services" property="og:title">
    <meta content="website" property="og:type">
    <meta content="africanus.co.za.www40.jnb2.host-h.net/Products-and-Services/" property="og:url">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'africanus/css/animate.css' %}">

    <link rel="stylesheet" href="{% static 'africanus/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'africanus/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'africanus/css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'africanus/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'africanus/css/jquery.timepicker.css' %}">


    <link rel="stylesheet" href="{% static 'africanus/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'africanus/css/style.css' %}">
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active"><a href="{% url 'Projects:africanus' %}" class="nav-link">Home</a></li>
                  <li class="nav-item"><a href="{% url 'Projects:about' %}" class="nav-link">About</a></li>
                  <li class="nav-item"><a href="{% url 'Projects:services' %}" class="nav-link">Products and Services</a></li>
                  <li class="nav-item"><a href="{% url 'Projects:contact' %}" class="nav-link">Contact</a></li>
              </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
           <div class="container">
               <div class="row no-gutters">
                   <div class="col-sm-4 p-4 p-md-5 d-flex align-items- justify-content-center bg-primary">

                       <div class="text" style="color#000">
                           <div style="text-align: center"><img src="{% static 'africanus/logo.png' %}" width="50%"></div><br>
                           <hr>
                           <p style="color:#fff">
                               African Utility Suppliers is your preferred provider for on-site, high-voltage equipment, testing and maintenance services.
                           </p>
                           <p style="color:#fff">
                               We are also agents for a number if reputable companies, supplying personal protective clothing, tools, consumables, conductor and hardware material, portable ladders telescopic link sticks and earthing equipment.
                           </p>
                           <hr>
                           <h4 style="color:#fff">Contact us</h4>
                           <p style="color:#fff">
                               <a href="tel:0117646371" style="color:#000">011 764 6371</a> or <a href="contact.html" style="color:#000">click here</a> to send an email</p>
                           <hr>
                       </div>
                   </div>
                   <div class="col-sm-8 wrap-about py-5 ftco-animate img">
                       <div class="row pb-5 pb-md-0">
                           <div class="heading-section mt-5 mb-4">
                               <div class="pl-lg-3 ml-md-5">
                                   <br>
                                   <h2 class="mb-4">Products and Services</h2>
                               </div>
                           </div>
                           <div class="pl-lg-8 ml-md-5">
                               <h4> Services </h4>
                               <p>Governed by our comprehensive Quality Management System, African Utility Suppliers CC offers various on-site, high voltage testing, repair and maintenance services </p>

                               <p>Established in June 1999 African Utility Suppliers CC started providing on-site testing and repair of telescopic link sticks. Our service offering has grown with various services and products being introduced over the years;</p>
                               <ul>
                                   <li>On-site testing and repair of telescopic link sticks</li>
                                   <li>Calibration of testing & measuring instruments</li>
                                   <li>On-site testing and repair of all portable earths</li>
                                   <li>On-site inspection repair and servicing of portable ladders</li>
                               </ul>

                               <hr>

                               <h4>Products</h4>
                               <p> African Utility Suppliers CC are agents for various reputable companies who supply, among others: Personal Protective Clothing, Tools, Consumables, Conductor and Hardware Material, Portable Ladders Telescopic Link Sticks and Earthing.</p>
                               <div>
                                   <div class="containerx">
                                       <div class="content">
                                           <div class="content-overlay"></div>
                                           <img class="content-image" src="{% static 'africanus/images/partners/toptronic.png' %}">
                                       </div>
                                   </div>

                                   <div class="containerx">
                                       <div class="content">
                                           <div class="content-overlay"></div>
                                           <img class="content-image" src="{% static 'africanus/images/partners/saladder.png' %}">
                                       </div>
                                   </div>

                                   <div class="containerx">
                                       <div class="content">
                                           <div class="content-overlay"></div>
                                           <img class="content-image" src="{% static 'africanus/images/partners/major.png' %}">
                                       </div>
                                   </div>

                                   <div class="containerx">
                                       <div class="content">
                                           <div class="content-overlay"></div>
                                           <img class="content-image" src="{% static 'africanus/images/partners/gedore.png' %}">


                                       </div>
                                   </div>
                                   <div class="containerx">
                                       <div class="content">
                                           <div class="content-overlay"></div>
                                           <img class="content-image" src="{% static 'africanus/images/partners/hastings.png' %}">

                                       </div>
                                   </div>

                                   <div class="containerx">
                                       <div class="content">
                                           <div class="content-overlay"></div>
                                           <img class="content-image" src="{% static 'africanus/images/partners/BDECKp.png' %}">

                                       </div>
                                   </div>
                                   <div class="containerx">
                                       <div class="content">
                                           <div class="content-overlay"></div>
                                           <img class="content-image" src="{% static 'africanus/images/partners/bosh.png' %}">

                                       </div>
                                   </div>

                                   <div class="containerx">
                                       <div class="content">
                                           <div class="content-overlay"></div>
                                           <img class="content-image" src="{% static 'africanus/images/partners/Sweetorr.png' %}">

                                       </div>
                                   </div>
                                   <div class="containerx">
                                       <div class="content">
                                           <div class="content-overlay"></div>
                                           <img class="content-image" src="{% static 'africanus/images/partners/Hitec.png' %}">
                                       </div>
                                   </div>
                                   <div class="containerx">
                                       <div class="content">
                                           <div class="content-overlay"></div>
                                           <img class="content-image" src="{% static 'africanus/images/partners/jimgreen.png' %}">
                                       </div>
                                   </div>




                               </div>

                               <h4>Personal Protective Clothing</h4>
                               <ul>
                                   <li> Barron Clothing</li>
                                   <li> Hi-Tec Safety Boots</li>
                                   <li> Jim Green Safety Boots</li>
                                   <li> and many more</li>
                               </ul>





                               <hr>
                               <h4>PPE</h4>
                               <p>We know that all the equipment we test and supply are used on a daily basis by employees, and in inherently hazardous tasks, rated safety critical! We therefore undertake;</p>

                               <ul>
                                   <li> Two piece overalls</li>
                                   <li> Denim jeans</li>
                                   <li> Winter jackets</li>
                                   <li> Long and short sleeve shirts</li>
                                   <li> Socks</li>
                                   <li> Line patrol, safety boots and shoes</li>
                                   <li> Reflective vests</li>
                                   <li> Swartlander rain coats</li>
                                   <li> Hard hats</li>
                                   <li> Fall arrest systems</li>
                                   <li> Chainsaw protective gear</li>
                               </ul>
                               <hr>


                               <h4>CONSUMABLES</h4>
                               <ul>
                                   <li>Lugs and ferules</li>
                                   <li>Insulation tape</li>
                                   <li>Wall plugs</li>
                                   <li>Q-20 lubricant spray</li>
                                   <li>Coffee, tea, sugar and many more</li>
                                   <li>Stationery</li>
                               </ul>
                               <hr>

                               <h4>TOOLS</h4>
                               <ul>
                                   <li>Complete tool boxes</li>
                                   <li>Spanners, sockets and ratchets</li>
                                   <li>Screw drivers</li>
                                   <li>All types of 1000v insulated tools</li>
                                   <li>Spot lights, torches and head lights</li>
                                   <li>All types of saws (tree, steel and wood)</li>
                                   <li>Electrical and battery operated drilling machines</li>
                                   <li>Pliers, side cutters and other hand tools</li>
                                   <li>Testing and measuring equipment</li>
                                   <li>Hand held crimper from electrical and hydraulics big and small</li>
                               </ul>
                               <hr>

                               <h4>CONDUCTOR AND HARDWARE MATERIALS</h4>
                               <ul>
                                   <li>Insulators</li>
                                   <li> All types of conductor</li>
                                   <li> Cable joints</li>
                                   <li>Line joints</li>
                                   <li>Conductor stringing pulley’s</li>
                                   <li>Chain hoists all types</li>
                                   <li>Come-a-long all types</li>
                               </ul>

                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </section>
    <section class="ftco-section ftco-intro" style="background-image: url({% static 'africanus/images/electric1.png' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-12 text-center">
                    <p class="mb-0">African Utility Suppliers CC</p>

                    <p class="mb-0">Reg no: CK 1999/023143/23, Vat no: 480181598</p>

                    <p class="mb-0"> Shop 29, Westways Shopping Centre, 200 Ouklip Street, Helderkruin, Roodepoort</p>

                    <p class="mb-0"> PO Box 21503, Helderkruin 1733</p>

                    <p class="mb-0">Tel:<a href="tel:+2711764631"> +27 (0) 11 764 6371</a>Fax:<a href="fax:+27865468912"> +27 (0) 86 546 8912</a> </p>

                </div>
            </div>
        </div>
    </section>





    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>




                <script src="{% static 'africanus/js/jquery.min.js' %}"></script>
                <script src="{% static 'africanus/js/jquery-migrate-3.0.1.min.js' %}"></script>
                <script src="{% static 'africanus/js/popper.min.js' %}"></script>
                <script src="{% static 'africanus/js/bootstrap.min.js' %}"></script>
                <script src="{% static 'africanus/js/jquery.easing.1.3.js' %}"></script>
                <script src="{% static 'africanus/js/jquery.waypoints.min.js' %}"></script>
                <script src="{% static 'africanus/js/jquery.stellar.min.js' %}"></script>
                <script src="{% static 'africanus/js/owl.carousel.min.js' %}"></script>
                <script src="{% static 'africanus/js/jquery.magnific-popup.min.js' %}"></script>
                <script src="{% static 'africanus/js/jquery.animateNumber.min.js' %}"></script>
                <script src="{% static 'africanus/js/bootstrap-datepicker.js' %}"></script>
                <script src="{% static 'africanus/js/jquery.timepicker.min.js' %}"></script>
                <script src="{% static 'africanus/js/scrollax.min.js' %}"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
                <script src="{% static 'africanus/js/google-map.js' %}"></script>
                <script src="{% static 'africanus/js/main.js' %}"></script>


</body>

</html>
