<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Brand Central</title>
    <meta name="keywords" content="Mufudzi, Website Developer, Web Application Developer, Cape Town, South Africa, Young and Talented web developer, E-commerce, ASP.Net, Microsoft certified, freelance webdesigner based in Cape Town, South Africa">
    <meta name="description" content=" online portfolio showcasing what Mufudzi Christopher has to offer in a way that represents who he is and what he is capable of. I hope you have a pleasant experience.">
    <meta name="author" content="Mufudzi Christopher">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'bc/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'bc/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'bc/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'bc/css/animate.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'bc/css/font/flaticon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bc/css/form.css' %}">



    <!-- script
    ================================================== -->
    <script src="{% static 'bc/js/modernizr.js' %}"></script>
    <script src="{% static 'bc/js/pace.min.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'bc/images/fsvicon.png' %}" type="image/x-icon">

</head>



<body id="top">

    <!-- header
    ================================================== -->
    <header class="s-header">

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"> <span>Close</span></a>

            <div class="header-nav__content">
                <h3>Brand Central</h3>

                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll" href="#home" title="Home">Home</a></li>
                    <li><a class="smoothscroll" href="#about" title="About">Meet The Team</a></li>
                    <li><a class="smoothscroll" href="#services" title="Services">Services</a></li>
                    <li><a class="smoothscroll" href="#work" title="Portfolio">Portfolio</a></li>
                    <li><a class="smoothscroll" href="#pictures" title="Gallery">Gallery</a></li>
                    <li><a class="smoothscroll" href="#contact" title="Contact">Contact</a></li>
                </ul>

                <p style="color: #ffffff">
                    <a href="https://brandcentral.co.za">BrandCentral</a> designs, reviews and executes marketing and communication goals and growth strategies.
                </p>



            </div>
            <!-- end header-nav__content -->

        </nav>
        <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-icon"></span>
        </a>

    </header>
    <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static 'bc/images/hero-bg.jpg' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=top>


        <div class="home-content">

            <div class="row home-content__main">
                <h1>
                    Brand Central
                </h1>

                <p>Brand Architect. Integrated Media. Strategic Communication.
                    <br>
                </p>

            </div>
            <!-- end home-content__main -->

        </div>
        <!-- end home-content -->

        <ul class="home-sidelinks">
            <li><a class="smoothscroll" href="#about">Meet The Team<span>Who We Are</span></a></li>
            <li><a class="smoothscroll" href="#services">Services<span>What I Do</span></a></li>
            <li><a class="smoothscroll" href="#work">Portfolio<span>My Work</span></a></li>
            <li><a class="smoothscroll" href="#pictures">Gallery<span>Me</span></a></li>
            <li><a class="smoothscroll" href="#contact">Contact<span>Get In Touch</span></a></li>
        </ul>
        <!-- end home-sidelinks --
        <div>
            <ul class="home-sidelinks-right">

                <li><br>
                    <a href="https://www.linkedin.com/in/mufudzi-christopher-nhamoinesu-6a5232161" target="_blank">
                        <img style="width: 50px; height: 50px; padding-bottom: 30%" alt="LinkedIn" title="LinkedIn" src="images/svg/linkedin.svg" />
                    </a>

                </li>
                <li><br>
                    <a href="https://www.instagram.com/mufudzichristopher/" target="_blank">
                        <img style="width: 50px; height: 50px; padding-bottom: 30%" alt="Instagram" title="Instagram" src="images/svg/instagram.svg" />
                    </a>
                </li>

                <li><br>
                    <a href="https://twitter.com/Fudzi_Yama23" target="_blank">
                        <img style="width: 50px; height: 50px; padding-bottom: 30%" alt="Twitter" title="Twitter" src="images/svg/twitter.svg" />
                    </a>
                </li>
                <li><br>
                    <a href="https://www.facebook.com/MufudziChristopher95" target="_blank">
                        <img style="width: 50px; height: 50px; padding-bottom: 30%" alt="Facebook" title="Facebook" src="images/svg/facebook.svg" />
                    </a>
                </li>
                <li><br>
                    <a href="https://za.pinterest.com/mufudzichristopher/" target="_blank">
                        <img style="width: 50px; height: 50px; padding-bottom: 30%" alt="Pinterest" title="Pinterest" src="images/svg/pinterest.svg" />
                    </a>
                </li>
            </ul>
        </div>
        <!-- end home-social -->

        <a href="#about" class="home-scroll smoothscroll">
            <span class="home-scroll__text">Scroll Down</span>
            <span class="home-scroll__icon"></span>
        </a>
        <!-- end home-scroll -->

    </section>
    <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead" style="text-align: center">Who We Are.</h3>
                <h1 class="display-1" style="text-align: center">Meet The Team<br>
                </h1>
            </div>
        </div>
        <!-- end section-header -->

        <div class="row">

            <div class="about-process process block-1-2 block-tab-full">

                <div class="process__vline-left"></div>
                <div class="process__vline-right"></div>
                <div class="col-block " data-aos="fade-up" style="margin-bottom: 40px">
                    <div class="process__text mufudzi">
                        <h4 style="text-align: center">Josephine Buys</h4>
                        <h6 style="text-align: center">Brand Architect</h6>

                        <p style="text-align: center">
                            <br>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            <img src="{% static 'bc//images/jb_bc.jpg' %}" alt="Wow" title="Copy that, over!" class="testimonials__avatar">
                    </div>
                </div>
                <div class="col-block " data-aos="fade-up" style="margin-bottom: 40px">
                    <div class="process__text mufudzi">
                        <img src="https://s5.gifyu.com/images/spaceb4e3dee22857ba98.gif' %}" alt="Wow" class="testimonials__avatar">
                        <h4 style="text-align: center">Natalia </h4>
                        <h6 style="text-align: center">Graphic Designer </h6>

                        <p style="text-align: center">
                            <br>I"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>

                    </div>

                </div>
                <div class="col-block " data-aos="fade-up" style="margin-bottom: 40px">
                    <div class="process__text mufudzi"> <img src="{% static 'bc//images/4.jpg' %}" title="Lift-off! We Have Lift-off!" alt="Wow" class="testimonials__avatar">
                        <h4 style="text-align: center">Mufudzi Christopher</h4>
                        <h6 style="text-align: center">Web Developer</h6>

                        <p style="text-align: center">
                            <br> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."


                        </p>

                    </div>
                </div>
                <div class="col-block " data-aos="fade-up" style="margin-bottom: 40px">
                    <div class="process__text mufudzi"> <img src="{% static 'bc/https://s5.gifyu.com/images/spaceb4e3dee22857ba98.gif' %}" alt="Wow" title="T minus 10, 9, 8, ..." class="testimonials__avatar">
                        <h4 style="text-align: center">Kathy </h4>

                        <p style="text-align: center">
                            <br> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cill dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                    </div>
                </div>
            </div>
            <!-- end process -->

        </div>
        <!-- end about-stats -->

    </section>
    <!-- end s-about -->

    <!-- services
    ================================================== -->
    <section id='services' class="s-services light-gray">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">What I Do.</h3>
                <h1 class="display-1">
                    I am an IT Creative.<br> I don't just make websites, I build brands.<br>
                </h1>
            </div>
        </div>

        <!-- end about-desc -->


        <div class="row services-list block-1-3 block-m-1-2 block-tab-full" style="text-align: center">

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon  service-icon--illustration">
                    <i style="color: #000" class="fa fa-cloud"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">Web Application Development</h3>
                    <p>
                        I learnt how to build web applications in Visual Studio. This was also my first opportunity to collaborate in a team on a real world systems development project. Using C#, ASP.NET MVC 4, css, bootsrap, javascript, and the kitchen sink we built a stunning web application that was responsive and user friendly. I am always in development mode because I employ an agile approach when working on projects and tasks. I plan to develop something new and exciting the world's never seen before. Watch this space.
                    </p><br>
                    <button class="notif-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="2px" viewBox="0 0 24 24" width="28">
                            <path d="M12 23c1.1 0 1.99-.89 1.99-1.99h-3.98c0 1.1.89 1.99 1.99 1.99zm8.29-4.71L19 17v-6c0-3.35-2.36-6.15-5.5-6.83V3c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v1.17C7.36 4.85 5 7.65 5 11v6l-1.29 1.29c-.63.63-.19 1.71.7 1.71h15.17c.9 0 1.34-1.08.71-1.71zM13 16h-2v-2h2v2zm0-5c0 .55-.45 1-1 1s-1-.45-1-1V9c0-.55.45-1 1-1s1 .45 1 1v2z" /></svg>
                    </button>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon  service-icon--illustration">
                    <i style="color: #000" class="icon-earth"></i>
                </div>

                <div class="service-text">
                    <h3 class="h4">Website Design</h3>
                    <p>


                        I have a sweet tooth for style and presentation which makes me a unique asset when creativity is a requirement. I understand people and what they want out of a website, what attracts them to one and keeps them coming back. I am innovative and not afraid to experiment.

                        All of these talents give me an almost super human ability to consistently deliver a sophisticated, hand-crafted solution guaranteed to make you smile. <br>
                        <br>
                    </p>
                    <button class="notif-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 0 24 24" width="28">
                            <path d="M12 23c1.1 0 1.99-.89 1.99-1.99h-3.98c0 1.1.89 1.99 1.99 1.99zm8.29-4.71L19 17v-6c0-3.35-2.36-6.15-5.5-6.83V3c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v1.17C7.36 4.85 5 7.65 5 11v6l-1.29 1.29c-.63.63-.19 1.71.7 1.71h15.17c.9 0 1.34-1.08.71-1.71zM13 16h-2v-2h2v2zm0-5c0 .55-.45 1-1 1s-1-.45-1-1V9c0-.55.45-1 1-1s1 .45 1 1v2z" /></svg>
                    </button>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon  service-icon-web-design">
                    <i style="color: #000" class=" fas fa-shopping-cart"></i>
                </div>
                <div class="service-text">
                    <h3 class="h4">E Commerce</h3>
                    <p>I am a programmer that writes programs to make mundane and repetitive tasks less annoying. I learn new languages with ease and grasp concepts and methods quickly. I keep up-to-date with the latest technology trends and news. I have a keen interest in the internet and traverse its furthest reaches on a daily basis.</p> <br>
                </div>
                <button class="notif-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 0 24 24" width="28">
                        <path d="M12 23c1.1 0 1.99-.89 1.99-1.99h-3.98c0 1.1.89 1.99 1.99 1.99zm8.29-4.71L19 17v-6c0-3.35-2.36-6.15-5.5-6.83V3c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v1.17C7.36 4.85 5 7.65 5 11v6l-1.29 1.29c-.63.63-.19 1.71.7 1.71h15.17c.9 0 1.34-1.08.71-1.71zM13 16h-2v-2h2v2zm0-5c0 .55-.45 1-1 1s-1-.45-1-1V9c0-.55.45-1 1-1s1 .45 1 1v2z" /></svg>
                </button>
            </div>
        </div>



    </section>
    <!-- end s-services -->
    <!-- work
    ================================================== -->
    <section id='work' class="s-work" style="background-color: #fff">
        <div class="testimonials-wrap" data-aos="fade-up">
            <div class="row">
                <div class="col-full testimonials-header">
                    <h2 class="h1">Associations</h2>
                </div>
            </div>

            <div class="row testimonials">
                <div class="col-full testimonials__slider">
                    <div class="testimonials__slide">
                        <a href="http://www.amazingholidays.co.za" target="_blank"><img src="{% static 'bc/images/logos/amazing.png' %}" style="background-size: contain;" alt="Amazing Holidays" title="Amazing Holidays" class="testimonials__avatar"></a>
                        <div class="testimonials__author">
                            <a href="http://www.amazingholidays.co.za" target="_blank" style="color: #000">Amazing Holidays</a>
                        </div>
                        <a href="http://www.amazingholidays.co.za" target="_blank">
                            <p style="color: #000; font-size: .7em">dream. click. go. Holiday packages, honeymoons, cruises and more... Easy online booking.
                            </p>
                        </a>
                    </div>
                    <div class="testimonials__slide">
                        <a href="http://www.argyll-international.com" target="_blank"><img src="{% static 'bc/images/logos/argyll-international.png' %}" style="background-size: contain;" alt="Argyll International" title="Argyll International" class="testimonials__avatar"></a>
                        <div class="testimonials__author">
                            <a href="http://www.argyll-international.com" target="_blank" style="color: #000">Argyll Intenational</a>
                        </div>
                        <a href="http://www.argyll-international.com" target="_blank">
                            <p style="color: #000; font-size: .7em">A renewable, sustainable energy company committed to reducing energy waste and producing low to zero carbon emission green energy for South(ern) Africa to resolve energy poverty.</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row testimonials">
                <div class="col-full testimonials__slider">
                    <div class="testimonials__slide">
                        <a href="https://www.blowfish.co.za" target="_blank"><img src="{% static 'bc/images/logos/blowfish.png' %}" style="background-size: contain;" alt="Blowfish" class="testimonials__avatar"></a>
                        <div class="testimonials__author">
                            <a href="https://www.blowfish.co.za" target="_blank" style="color: #000">Blowfish</a>
                        </div>
                        <a href="https://www.blowfish.co.za" target="_blank">
                            <p style="color: #000; font-size: .7em">Seafood. Sushi. Sunset. With a magnificent back drop of Table Mountain across Table Bay, this is a must when visiting Cape Town - voted the best city in the world by the Daily Telegraph six years in a row.               </p>
                        </a>
                    </div>
                    <div class="testimonials__slide">
                        <a href="http://www.compatriotmag.com" target="_blank"><img src="{% static 'bc/images/logos/web_logo_03-1.png' %}" style="background-size: contain;" alt="Compatriot Magazine" class="testimonials__avatar"></a>
                        <div class="testimonials__author">
                            <a href="http://www.compatriotmag.com" target="_blank" style="color: #000">Compatriot Magazine </a>
                        </div>
                        <a href="http://www.compatriotmag.com" target="_blank">
                            <p style="color: #000; font-size: .7em">The first pan-African magazine, by Africans for Africans. Empowering Africa with credible, current and positive journalism combining socio-economics, thought leadership, business and lifestyle trends.</p>
                        </a>
                    </div>

                </div>
            </div>
            <div class="row testimonials">
                <div class="col-full testimonials__slider">
                    <div class="testimonials__slide">
                        <a href="https://www.gentleapproach.co.za" target="_blank"><img src="{% static 'bc/images/logos/gentle_approach_logo_big.png' %}" style="background-size: contain;" alt="Gentle Approach" class="testimonials__avatar"></a>
                        <div class="testimonials__author">
                            <a href="https://www.gentleapproach.co.za" target="_blank" style="color: #000">Gentle Approach</a>
                        </div>
                        <a href="https://www.gentleapproach.co.za" target="_blank">
                            <p style="color: #000; font-size: .7em">Gentle Approach, animal, human and earth friendly natural products. Naturalmente, Breathe, ESSERE and Hairprint offer cleaner and healthier ways to take care of your hair and body. Salon treatments with minimal chemical exposure and individual online consultations to find #yourcolour, naturally.</p>
                        </a>
                    </div>
                    <div class="testimonials__slide">
                        <a href="http://www.iabsa.net" target="_blank"><img src="{% static 'bc/images/logos/IAB_logo.png' %}" style="background-size: contain;" alt="IAB SA" class="testimonials__avatar"></a>
                        <div class="testimonials__author">
                            <a href="http://www.iabsa.net" target="_blank" style="color: #000"> IAB SA </a>
                        </div>
                        <a href="http://www.iabsa.net" target="_blank">
                            <p style="color: #000; font-size: .7em;">Trade association empowering the media and marketing industry to thrive in the digital economy.</p>
                        </a>
                    </div>
                </div>
            </div>  <div class="row testimonials">
                <div class="col-full testimonials__slider">
                    <div class="testimonials__slide">
                        <a href="https://www.gentleapproach.co.za" target="_blank"><img src="{% static 'bc/images/logos/gentle_approach_logo_big.png' %}" style="background-size: contain;" alt="Gentle Approach" class="testimonials__avatar"></a>
                        <div class="testimonials__author">
                            <a href="https://www.gentleapproach.co.za" target="_blank" style="color: #000">Gentle Approach</a>
                        </div>
                        <a href="https://www.gentleapproach.co.za" target="_blank">
                            <p style="color: #000; font-size: .7em">Gentle Approach, animal, human and earth friendly natural products. Naturalmente, Breathe, ESSERE and Hairprint offer cleaner and healthier ways to take care of your hair and body. Salon treatments with minimal chemical exposure and individual online consultations to find #yourcolour, naturally.</p>
                        </a>
                    </div>
                    <div class="testimonials__slide">
                        <a href="http://www.iabsa.net" target="_blank"><img src="{% static 'bc/images/logos/IAB_logo.png' %}" style="background-size: contain;" alt="IAB SA" class="testimonials__avatar"></a>
                        <div class="testimonials__author">
                            <a href="http://www.iabsa.net" target="_blank" style="color: #000"> IAB SA </a>
                        </div>
                        <a href="http://www.iabsa.net" target="_blank">
                            <p style="color: #000; font-size: .7em;">Trade association empowering the media and marketing industry to thrive in the digital economy.</p>
                        </a>
                    </div>
                </div>
            </div>  <div class="row testimonials">
                <div class="col-full testimonials__slider">
                    <div class="testimonials__slide">
                        <a href="https://www.gentleapproach.co.za" target="_blank"><img src="{% static 'bc/images/logos/gentle_approach_logo_big.png' %}" style="background-size: contain;" alt="Gentle Approach" class="testimonials__avatar"></a>
                        <div class="testimonials__author">
                            <a href="https://www.gentleapproach.co.za" target="_blank" style="color: #000">Gentle Approach</a>
                        </div>
                        <a href="https://www.gentleapproach.co.za" target="_blank">
                            <p style="color: #000; font-size: .7em">Gentle Approach, animal, human and earth friendly natural products. Naturalmente, Breathe, ESSERE and Hairprint offer cleaner and healthier ways to take care of your hair and body. Salon treatments with minimal chemical exposure and individual online consultations to find #yourcolour, naturally.</p>
                        </a>
                    </div>
                    <div class="testimonials__slide">
                        <a href="http://www.iabsa.net" target="_blank"><img src="{% static 'bc/images/logos/IAB_logo.png' %}" style="background-size: contain;" alt="IAB SA" class="testimonials__avatar"></a>
                        <div class="testimonials__author">
                            <a href="http://www.iabsa.net" target="_blank" style="color: #000"> IAB SA </a>
                        </div>
                        <a href="http://www.iabsa.net" target="_blank">
                            <p style="color: #000; font-size: .7em;">Trade association empowering the media and marketing industry to thrive in the digital economy.</p>
                        </a>
                    </div>
                </div>
            </div>  <div class="row testimonials">
                <div class="col-full testimonials__slider">
                    <div class="testimonials__slide">
                        <a href="https://www.gentleapproach.co.za" target="_blank"><img src="{% static 'bc/images/logos/gentle_approach_logo_big.png' %}" style="background-size: contain;" alt="Gentle Approach" class="testimonials__avatar"></a>
                        <div class="testimonials__author">
                            <a href="https://www.gentleapproach.co.za" target="_blank" style="color: #000">Gentle Approach</a>
                        </div>
                        <a href="https://www.gentleapproach.co.za" target="_blank">
                            <p style="color: #000; font-size: .7em">Gentle Approach, animal, human and earth friendly natural products. Naturalmente, Breathe, ESSERE and Hairprint offer cleaner and healthier ways to take care of your hair and body. Salon treatments with minimal chemical exposure and individual online consultations to find #yourcolour, naturally.</p>
                        </a>
                    </div>
                    <div class="testimonials__slide">
                        <a href="http://www.iabsa.net" target="_blank"><img src="{% static 'bc/images/logos/IAB_logo.png' %}" style="background-size: contain;" alt="IAB SA" class="testimonials__avatar"></a>
                        <div class="testimonials__author">
                            <a href="http://www.iabsa.net" target="_blank" style="color: #000"> IAB SA </a>
                        </div>
                        <a href="http://www.iabsa.net" target="_blank">
                            <p style="color: #000; font-size: .7em;">Trade association empowering the media and marketing industry to thrive in the digital economy.</p>
                        </a>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </section>
    <!-- end work -->


    <!-- GALLERY
    ================================================== --
    <section id='pictures' class="s-works">
        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Gallery.</h3>
                <h1 class="display-1">I am Mufudzi Christopher.</h1>
            </div>
        </div>
        <!-- end section-header --

        <div class="row masonry-wrap" style="margin-left: auto">
            <div class="masonry">
                <div class="masonry__brick" data-aos="fade-up">
            src="{% static 'bc/ass="item-folio">
                        <div class="item-folio__thumb">
                            <a href="images/portfolio/P1.jpg" class="thumb-link" title="" data-size="800x1000">
                                <img src="images/portfolio/P1.jpg" srcset="images/portfolio/P1.jpg 1x, images/portfolio/P1.jpg 2x" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- end item-folio --
                </div>
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="images/portfolio/P3.jpg" class="thumb-link" title="" data-size="800x1000">
                                <img src="images/portfolio/P3.jpg" srcset="images/portfolio/P3.jpg 1x, images/portfolio/P3.jpg 2x" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- end item-folio --
                </div>
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="images/portfolio/P2.jpg" class="thumb-link" title="" data-size="800x1000">
                                <img src="images/portfolio/P2.jpg" srcset="images/portfolio/P2.jpg 1x, images/portfolio/P2.jpg 2x" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- end item-folio --
                </div>

            </div>
        </div>
    </section>
    <!-- end s-works -->

    <!-- contact
    ================================================== -->
    <section id="contact" class="s-home target-section" data-parallax="scroll" data-image-src="{% static 'bc/images/brand.png' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=top>


        <div class="row">


            <div class="target-section" data-aos="fade-up">
                <div class="col-full">
                    <br>
                    <h3 class="subhead subhead--light"> Contact Me.</h3>
                    <h1 class="display-1 display-1--light" style="color:#fff">
                        Get in touch with me. <br> Let's make magic happen.</h1>
                </div>

            </div>

            <div class="col-ten contact-email" data-aos="fade-up">
                    <form action="https://formspree.io/hello@brandcentral.co.za" method="POST">

                        <div class="">
                            <div class=""><input type="text" name="name" id="name" placeholder="Name" /></div>
                            <div class=""><input type="email" name="email" id="email" placeholder="Email" />
                            </div>
                            <br>
                            <div class=""><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
                        </div>
                        <br>
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" /></li>
                        </ul>
                    </form>

                </div>
                <!-- end contact-social -->
                <!--============================================= Start Robot -->
                <ddiv id="page" class="" style="margin-left: 60%; width: 5px ">
                    <ddiv id="ccontainer">

                        <ddiv id="foot" class="left">
                            <ddiv id="f1"></ddiv>
                            <ddiv id="f2"></ddiv>


                            <ddiv id="leg1" class="first">
                                <ddiv id="leg1" class="next1">
                                    <ddiv id="leg1" class="next1">
                                        <ddiv id="leg1" class="next1">
                                            <ddiv id="leg1" class="next1"></ddiv>
                                        </ddiv>
                                    </ddiv>
                                </ddiv>
                            </ddiv>
                        </ddiv>

                        <ddiv id="foot" class="right">
                            <ddiv id="f1"></ddiv>
                            <ddiv id="f2"></ddiv>

                            <ddiv id="leg2" class="first">
                                <ddiv id="leg2" class="next2">
                                    <ddiv id="leg2" class="next2">
                                        <ddiv id="leg2" class="next2">
                                            <ddiv id="leg2" class="next2"></ddiv>
                                        </ddiv>
                                    </ddiv>
                                </ddiv>
                            </ddiv>
                        </ddiv>


                        <ddiv id="bbody">
                            <ddiv id="b1"></ddiv>
                            <ddiv id="b2"></ddiv>
                            <ddiv id="b3"></ddiv>
                            <ddiv id="hhead">
                                <ddiv id="h1"></ddiv>
                                <ddiv id="h2"></ddiv>
                                <ddiv id="h3"></ddiv>
                                <ddiv id="h4"></ddiv>
                                <ddiv id="h5"><span></span></ddiv>
                                <ddiv id="eyes">
                                    <ddiv id="e">
                                        <ddiv id="e1">
                                            <ddiv id="eye"></ddiv>
                                            <span></span>
                                        </ddiv>
                                        <ddiv id="e2">
                                            <ddiv id="eye"></ddiv>
                                            <span></span>
                                        </ddiv>
                                    </ddiv>
                                </ddiv>
                                <ddiv id="mouth">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <ddiv id="m1"></ddiv>
                                    <ddiv id="m2"></ddiv>
                                </ddiv>
                            </ddiv>

                            <ddiv id="b4"></ddiv>
                            <ddiv id="b5">
                                <ddiv id="b51">
                                    <ddiv id="b51">
                                        <ddiv id="b51">
                                            <ddiv id="b51">
                                                <ddiv id="ab">
                                                    <ddiv id="a1"></ddiv>
                                                    <ddiv id="a2"></ddiv>
                                                    <ddiv id="a3" class="a31"></ddiv>
                                                    <ddiv id="a3" class="a32"></ddiv>
                                                    <ddiv id="a3" class="a33"></ddiv>
                                                </ddiv>
                                            </ddiv>
                                        </ddiv>
                                    </ddiv>
                                </ddiv>
                            </ddiv>
                            <ddiv id="b6"></ddiv>
                            <ddiv id="b7">
                                <ddiv id="b71">
                                    <ddiv id="b71">
                                        <ddiv id="b71">
                                            <ddiv id="b71">
                                                <ddiv id="ac">
                                                    <ddiv id="a1"></ddiv>
                                                    <ddiv id="a2"></ddiv>
                                                    <ddiv id="a3" class="a31"></ddiv>
                                                    <ddiv id="a3" class="a32"></ddiv>
                                                    <ddiv id="a3" class="a33"></ddiv>
                                                </ddiv>
                                            </ddiv>
                                        </ddiv>
                                    </ddiv>
                                </ddiv>
                            </ddiv>
                            <ddiv id="b8">
                                <span></span>
                            </ddiv>
                            <ddiv id="b9"></ddiv>
                        </ddiv>
                    </ddiv>
                </ddiv>
                <!--============================================= End Robot -->

            </div>
            <!-- end contact-secondary -->

            <div class="row col-ten tab-full contact-email" style="margin-left: 10px">


                <p>Cape Town, South Africa.</p>
            </div>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.1 105.9" style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
                <path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow" d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1" />
                <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-1" d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58" />
                <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-2" d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9" />
            </svg>
            <!-- end row -->
        </div>
        <!-- end row -->
    </section>
    <!-- end s-contact -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title="Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div>
    <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
        </div>
    </div>





    <!-- Java Script
    ================================================== -->
    <script src="{% static 'bc/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bc/js/plugins.js' %"}></script>
    <script src="{% static 'bc/js/main.js' %}"></script>
    <script src="{% static 'bc/js/form.js' %}"></script>

</body></html>
